:root {
  --ref-primary0: #000000;
  --ref-primary10: #1a0f52;
  --ref-primary20: #2c1c7d;
  --ref-primary30: #402ea6;
  --ref-primary40: #5442cf;
  --ref-primary50: #6d5cea;
  --ref-primary60: #8b7bff;
  --ref-primary70: #a99cff;
  --ref-primary80: #c6bdff;
  --ref-primary90: #e4deff;
  --ref-primary95: #f2efff;
  --ref-primary98: #fbf8ff;
  --ref-primary99: #fffbff;
  --ref-primary100: #ffffff;
  --ref-secondary0: #000000;
  --ref-secondary10: #141633;
  --ref-secondary20: #292c4a;
  --ref-secondary30: #3f4262;
  --ref-secondary40: #575a7b;
  --ref-secondary50: #707295;
  --ref-secondary60: #8a8caf;
  --ref-secondary70: #a5a6cb;
  --ref-secondary80: #c0c1e7;
  --ref-secondary90: #dedeff;
  --ref-secondary95: #f0efff;
  --ref-secondary98: #fbf8ff;
  --ref-secondary99: #fffbff;
  --ref-secondary100: #ffffff;
  --ref-tertiary0: #000000;
  --ref-tertiary10: #001f28;
  --ref-tertiary20: #003544;
  --ref-tertiary30: #004d5f;
  --ref-tertiary40: #00657c;
  --ref-tertiary50: #00809b;
  --ref-tertiary60: #009cbb;
  --ref-tertiary70: #22b8d8;
  --ref-tertiary80: #62d4f5;
  --ref-tertiary90: #b5ebff;
  --ref-tertiary95: #ddf5ff;
  --ref-tertiary98: #f2fbff;
  --ref-tertiary99: #f9fdff;
  --ref-tertiary100: #ffffff;
  --ref-neutral0: #000000;
  --ref-neutral4: #0b0b10;
  --ref-neutral6: #101015;
  --ref-neutral10: #1b1b21;
  --ref-neutral12: #1f1f26;
  --ref-neutral17: #2a2a31;
  --ref-neutral20: #303037;
  --ref-neutral22: #34343c;
  --ref-neutral24: #393941;
  --ref-neutral30: #46464e;
  --ref-neutral40: #5e5e66;
  --ref-neutral50: #77777f;
  --ref-neutral60: #919099;
  --ref-neutral70: #acabb5;
  --ref-neutral80: #c8c6d0;
  --ref-neutral87: #dcdae5;
  --ref-neutral90: #e5e1ed;
  --ref-neutral92: #ebe7f3;
  --ref-neutral94: #f1edf9;
  --ref-neutral95: #f4f0fc;
  --ref-neutral96: #f7f3ff;
  --ref-neutral98: #fcf8ff;
  --ref-neutral99: #fffbff;
  --ref-neutral100: #ffffff;
  --ref-neutralvariant0: #000000;
  --ref-neutralvariant10: #181a26;
  --ref-neutralvariant20: #2d2f3c;
  --ref-neutralvariant30: #434653;
  --ref-neutralvariant40: #5b5d6c;
  --ref-neutralvariant50: #747685;
  --ref-neutralvariant60: #8e90a0;
  --ref-neutralvariant70: #a9abbb;
  --ref-neutralvariant80: #c5c7d7;
  --ref-neutralvariant90: #e1e3f4;
  --ref-neutralvariant95: #f0f1ff;
  --ref-neutralvariant98: #fbf8ff;
  --ref-neutralvariant99: #fffbff;
  --ref-neutralvariant100: #ffffff;
  --ref-error0: #000000;
  --ref-error10: #410e0b;
  --ref-error20: #601410;
  --ref-error30: #8c1d18;
  --ref-error40: #b3261e;
  --ref-error50: #dc362e;
  --ref-error60: #e46962;
  --ref-error70: #ec928e;
  --ref-error80: #f2b8b5;
  --ref-error90: #f9dedc;
  --ref-error95: #fceeee;
  --ref-error98: #fff8f7;
  --ref-error99: #fffbf9;
  --ref-error100: #ffffff;
}
