:root {
  --state-hover-opacity: 0.08; /* @kind other */
  --state-focus-opacity: 0.12; /* @kind other */
  --state-pressed-opacity: 0.12; /* @kind other */
  --state-dragged-opacity: 0.16; /* @kind other */
  --state-disabled-container-opacity: 0.12; /* @kind other */
  --state-disabled-content-opacity: 0.38; /* @kind other */
  --state-focus-ring-width: 3px; /* @kind other */
  --state-focus-ring-offset: 2px; /* @kind other */
  --state-focus-ring-color: var(--color-secondary); /* @kind other */
}
