@import "tailwindcss";

@theme {
  --color-primary: #64748b;
  --color-primary-hover: #475569;
  --color-secondary: #ffffff;
  --color-secondary-hover: #f4f4f5;
  --color-primary-dark: #94a3b8;
  --color-primary-dark-hover: #64748b;
  --color-secondary-dark: #27272a;
  --color-secondary-dark-hover: #3f3f46;
}
